@use "../../../../assets/style/vars" as *;
@use "../../../../assets/style/mixins" as *;
.hero-section {
  text-align: center;
  max-width: 640px;
  margin: 250px auto 100px;
  @include breakpoint(mobile) {
    margin: 50px auto 50px;
  }
}
.hero-title {
  line-height: 4.21875rem;
  text-align: center;
  color: #fff;
}

.landing-header {
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
  }
}
